
/*Fuentes*/

h1, h2, h3 {
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
}

body {
  text-align: center;
  background-color: #011F3F;
  user-select: none;
}

#titulo {
  font-size: 3rem;
  margin:  5%;

}

h2 {
  font-size: 1.8rem;
  margin-top: -3%;
}

h3 {
  font-size: 1.5rem;
  margin-top: 8%;
  line-height: 50px;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 230px;
  width: 230px;
  border: 10px solid black;
  border-radius: 40px;
  cursor: pointer;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.rojo {
  background-color: red;
}

.verde {
  background-color: green;
}

.azul {
  background-color: blue;
}

.amarillo {
  background-color: yellow;
}

/* Estados */

.presionado {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.game-over {
  background-color: #db0000;
  opacity: 0.8;
}

.anulado {
  filter: saturate(20%);
   -webkit-filter: saturate(20%);
  cursor: default;
}

.oculto {
  display: none;
}

/* Mobile */

@media all and (max-width: 770px) {
  .fila {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn {
    height: 1px;
    width: 1px;
    margin: 3% 0;
    padding: 17% 70%;
  }

  #titulo {
    font-size: 1.8rem;
    margin-top: 40px;
    line-height: px;
  }

  h2 {
    color: #d4c78b;
    font-size: 1.5rem;
    margin-top: 20px;
  }

  h3 {
    font-size: 1.2rem;
    margin: 40px 10%;
  }
}

@media all and (max-width: 400px) {
  .btn {
    height: 0;
    width: 0;
    margin: 5% 0;
    padding: 20% 80%;
  }

  #titulo {
    font-size: 1.3rem;
    margin-top: 30px;
    line-height: px;
  }

  h2 {
    color: #d4c78b;
    font-size: .8rem;
    margin-top: 20px;
  }

  h3 {
    font-size: .6rem;
    margin-top: 10px;
    margin: 0 10%;
  }
}
